.el-upload__tip {
    display: inline-block;
    margin-left: 10px;
  
  }
  .input-div{
      margin-top: 15px;
  }
  .label{
    color: #333;
    font-size: 14px;
  }
.el-input {
    width: 100%;
}
