.container {
  width: 1200px;
  height: auto;
  background-color: transparent;
  margin: 0 auto;
  position: relative;
}

.header {
  width: 100%;
  height: 80px;
  /* background-color: rgb(96, 125, 139); */
  overflow: hidden;
  position: relative;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #FFF;
}

.user-border {
  width: 60px;
  height: 60px;
  border-style: solid;
  border-color: #FFF;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
  margin-left: 20px;
}

.user {
  width: 50px;
  height: 40px;
}

.username {
  position: absolute;
  top: 28px;
  left: 75px;
  color: #FFF;
  font-size: 15px;
  background-color: #3f506a;
}

.logout-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  height: 35px;
  width: 75px;
  padding-top: 10px;
  padding-left: 18px;
}

.content {
  width: 100%;
  height: auto;
  /*最小高度*/
  min-height: 550px;
  background-color: #FFF;
  display: flex;
}

.left-navi{
    /* width:11%; */
    height: auto;
    min-height:550px;
    background-color: #3f506a;
    display: flex;
}

/*覆盖样式*/
.el-collapse-item__header {
   background-color:#3f506a;
   color: #FFF;
   padding-left: 40px;
   width: 90px;
}

.el-collapse-item__content {
    padding-bottom: 25px;
    font-size: 13px;
    color: #FFF;
    line-height: 1.769230769230769;
    background-color:#3f506a;
    padding-left: 40px;
}


a:-webkit-any-link{
    color:#FFF;
    text-decoration: none;
}
div.item{
  padding-bottom: 8px;
}

/*点击折叠左侧导航栏*/
.fold{
  width:20px;
  height:100%;
  background-color:#eee;
  cursor: pointer;
}

/*表格显示区*/
.main{
  min-height: 550px;
  height: auto;
  max-width: 1180px;
  min-width: 1050px;
}

.arrow-img{
  width:12px;
  height:11px;
  margin-left: 4px;
  margin-top: 250px;
}